*{
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4{
    font-family: 'DM Sans', sans-serif;
}

p{
    font-family: 'Oxygen', sans-serif;
}

body {
    background: var(--color-cuarto);
}

:root{
    scroll-behavior: smooth;
    --color-primario: #000000;
    --color-secundario: #14213d;
    --color-terciario: #ffffff;
    --color-cuarto: #e5e5e5;
    --color-quinto: #fca311;
}

/* header */

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
}

.container--hero{
    padding: 0;
}

.logo__nav{
    font-weight: 700;
    font-size: 20px;
    color: var(--color-cuarto);
}

.nav{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-secundario);
    border-radius: 30px;
    padding: 0 20px;
}

.nav__menu{
    background-color: var(--color-cuarto);
    width: 35px;
    cursor: pointer;
    z-index: 100;
    border-radius: 5px;
}

.nav__lista{
    font-family: 'Oxygen', sans-serif;
    position: absolute;
    inset: 0;
    margin: auto;
    background-color: var(--color-secundario);
    padding: 80px 0;
    display: grid;
    place-content: center;
    text-align: center;
    gap: 2.5rem;
    list-style: none;
    transform: translate(-100%);
    transition: transform .2s;
}

.nav__lista--show{
    transform: translate(0);
}

.nav__link{
    text-decoration: none;
    color: var(--color-cuarto);
    font-weight: 400;
}

.hero__main{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.hero__figura{
    order: -1;
    padding-top: 30px;
}

.hero__img{
    width: 70%;
    display: block;
    max-width: 400px;
    margin: 0 auto;
}

.hero__texto{
    display: grid;
    gap: 1.5rem;
    text-align: center;
    padding-bottom: 70px;
}

.hero__titulo{
    font-size: 25px;
    color: var(--color-secundario);
}

.hero__parrafo{
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: .5rem;
    color: var(--color-secundario);
    padding: 0 50px;
}

.hero__cta{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    background-color: var(--color-quinto);
    color: var(--color-cuarto);
    text-decoration: none;
    padding: 10px 40px;
    justify-self: center;
    border-radius: 6px;
    box-shadow: 5px 5px 2px 2px #00000049;
}

/* main */

.about{
    background-color: var(--color-secundario);
}

.about__container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about__img{
    display: block;
    margin: 0 auto;
    width: 90%;
    aspect-ratio: 1/1;
    max-width: 180px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    box-shadow: 5px 5px 2px 2px #00000049;
}

.about__texto{
    text-align: center;
    display: grid;
    gap: 20px;
}

.subtitulo{
    text-align: center;
    font-size: 25px;
    color: var(--color-cuarto);
}

.parrafo{
    line-height: 1.5;
    font-weight: 300;
    color: var(--color-cuarto);
    padding: 0 50px;
}

/* items */

.items__container{
    margin-top: ;
    padding: 50px 50px;
    display: grid;
    gap: 25px;
    
}

.items__articulo{
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    display: grip;
    gap: 1rem;
}

.items__img{
    display: block;
    margin: 0 auto;
    max-width: 250px;
    width: 60%;
    padding-bottom: 20px;
}

.items__articulo .subtitulo {
    color: var(--color-secundario);
    padding-bottom: 20px;
}

.items__articulo .parrafo {
    color: var(--color-secundario);
}

/* estadisticas */

.estadistica{
    background-image: linear-gradient(#19181bc0, #171719e3), url('../imagenes/proceso-comercial-grandes-empresas.jpg');
    background-size: cover;
    background-position: center;
    color: var(--color-cuarto);
    text-align: center;
}

.estadistica .subtitulo{
    padding-top: 30px;
}

.estadistica__container{
    display: grid;
    gap: 25px;
}

.estadisticas__items{
    width: 70%;
    margin: 0 auto;
    max-width: 400px;
}

.estadistica__titulo{
    font-size: 25px;
    margin-bottom: px;
}

.estadistica__cta{
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    background-color: var(--color-quinto);
    text-decoration: none;
    color: var(--color-cuarto);
    padding: 20px 40px;
    border-radius: 6px;
    justify-self: center; 
    box-shadow: 5px 5px 2px 2px #00000049;
}

/* footer */
.footer{
    background-color: var(--color-secundario);
}

.footer__contacto{
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin-top: 2rem;
}

.footer__link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color);
}

.footer__item:nth-of-type(1){
    --color: #1da1f2;
}

.footer__item:nth-of-type(2){
    --color: #c32aa3;
}

.footer__item:nth-of-type(3){
    --color: #ff0000;
}

.footer__img{
    width: 25px;
}

.subtitulo__3{
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    color: var(--color-cuarto);  
}

.parrafo{
    text-align: center;
    font-size: 15px;
    line-height: 1,5;
    padding: 0 50px;
}



